@model IEnumerable<vannon_teste.Models.Cliente>
@{
    ViewBag.Title = "Index -  Cliente";
    ViewBag.BodyClass = "main";
}

<h2>Filme</h2>
<a href="@Url.RouteUrl("cliente.CriarCliente")" class="btn btn-success mb-3">Criar Cliente</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Nome</td>
            <td>CPF</td>
            <td>E-mail</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cpf</td>
                <td>@item.Usuario.Email</td>
                <td>
                    <a href="@Url.Action("EditarCliente","Cliente", new {id = item.Id})" class="btn btn-warning mb-3">Editar</a>
                    <a href="@Url.Action("DeletarCliente","Cliente", new {id = item.Id})" class="btn btn-danger mb-3">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>